/* src/Components/PrivateRoute.css */

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
/* src/Components/PrivateRoute.css */

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.loading-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin: 20px auto;
  overflow: hidden;
  max-width: 300px;
}

.loading-bar {
  height: 20px;
  width: 0;
  background-color: #3498db;
  animation: fillBar 1.5s linear forwards;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
